  /* Non-Responsive CSS */

  #travelBody {
    background-color: rgb(7, 138, 138);
    color: blue;
    text-align: center;
    font-family: fantasy;
}

#header{
    margin: 20px;
    font-weight: 900;
}

img{
    width: 300px;
}

#TI{
    font-weight: 900;
}

#PM{
    font-weight: 900;
}

#PL{
    font-weight: 900;
}

ul{
    text-align: left;
    color:black;
}

li{
    font-size: large;
    font-weight: 900;
}